rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // attachments/{projectId}/{filename}
    // Any authenticated user can read and upload attachments
    match /attachments/{projectId}/{fileName} {
      allow read: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.size < 20 * 1024 * 1024  // 20 MB max
        && request.resource.contentType.matches('application/(pdf)|image/(png|jpeg)');
      allow delete: if request.auth != null;
    }
  }
}
